.DS_Store

# Editor settings
.idea/
**/.vscode/

# Python / Flask
**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/.mypy_cache/
**/.coverage
**/.env
**/.venv/
**/venv/
door-clicker-web/myenv/

# PlatformIO / embedded
.platformio-core/
**/.pio/
**/.piolibdeps/
**/.sconsign*.dblite
**/.pioenvs/
